<!-- BEGIN VENDOR CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/bootstrap.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/feather/style.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/fonts/feather/style.min.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/fonts/font-awesome/css/font-awesome.min.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/flag-icon-css/css/flag-icon.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/fonts/flag-icon-css/css/flag-icon.min.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/pace.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/vendors/css/extensions/pace.css') }}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/bootstrap-extended.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/app.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/app.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/colors.css') }}">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/core/menu/menu-types/vertical-menu.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-overlay-menu.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/core/menu/menu-types/vertical-overlay-menu.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'app-assets/css/core/colors/palette-gradient.css') }}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'assets/css/style.css') }}">
    <!-- END Custom CSS-->